<div style="text-align: center; margin: 50px 20%; font-size: 1.10em">


<div style="text-align: center;">
	<button style="font-size: 1.5em; margin-top: 20px; background-color: darkgray;"><%= link_to 'New Conversion', new_conversion_path, style: 'text-decoration: none; color: white' %></button>
</div>

<hr style="width: 50%; border-bottom-color: #b80030; margin: 50px auto 25px ">

	<div style="text-align: center">
		<h3>Following are the Galactic Unit Conversions</h3>
		<table align="center">
			<tr>
				<th colspan="4"><strong>Galactic Currency Conversions</strong></th>
			</tr>
			<tr style='font-size: 1.1em;'>
				<td colspan="2"><em>Units</em></td>
				<td colspan="2"><em>Credits</em></td>
			</tr>
			<tr>
				<td colspan="2">glob</td>
				<td colspan="2">1</td>
			</tr>
			<tr>
				<td colspan="2">prok</td>
				<td colspan="2">5</td>
			</tr>
			<tr>
				<td colspan="2">pish</td>
				<td colspan="2">10</td>
			</tr>
			<tr>
				<td colspan="2">tegj</td>
				<td colspan="2">50</td>
			</tr>
			<tr>
				<td colspan="2">silver</td>
				<td colspan="2">17 units</td>
			</tr>
			<tr>
				<td colspan="2">iron</td>
				<td colspan="2">195.50 units</td>
			</tr>
			<tr>
				<td colspan="2">gold</td>
				<td colspan="2">14450 units</td>
			</tr>
		</table>
	</div>