<div style="margin: 50px auto; text-align: center;">

	<p id="flash-notice"><%= notice %></p>

	<h2 style="margin: 20px auto">Your Conversion</h2>

	<h2>
		<strong><%= @conversion.convert_me %> is <%= @conversion.credits %> credits</strong>

	</h2>


	

</div>
