<div style="margin: 50px auto; text-align: center;">

	<p id="flash-notice"><%= notice %></p>

	<h2 style="margin: 20px auto">Your Conversion</h2>

	<h2>
		<strong><%= @conversion.convert_me %> is <%= @conversion.credits %> credits</strong>

	</h2>

<div style="text-align: center;">
	<button style="font-size: 1.5em; margin-top: 20px; background-color: darkgray;"><%= link_to 'New Conversion', new_conversion_path, style: 'text-decoration: none; color: white' %></button>
</div>


</div>
