<!DOCTYPE html>
<html>
<head>
  <title>Galaxy Currency Converter</title>
</head>
<body>
<div style="margin: 50px auto; text-align: center;">
	<h1 style="text-align: center; font-size: 2em; color: darkblue;">
		<a style="color: darkblue; text-decoration: none" href=<%= root_path %>> Merchant's Guide to the Galaxy </br>Intergalactic Planetary Credits Converter</a></h1>
	<hr style="width: 50%; border-bottom-color: #b80030; margin: 20px auto 0">
</div>


	<p class="alert"><%= alert %></p>


	<%= yield %>


<hr style="width: 50%; border-bottom-color: #b80030; margin: 20px auto">
<h2 style="text-align: center; margin: 0 auto 50px; color: #b80030">Leave the abacus, and grab your towel!</h2>
</body>
</html>
